h1 {
    font-family: sans-serif;
    font-size: 65px;
    font-weight: 600px;
    color: orange;
}

ul {
    background-color: rgb(247, 0, 255);
}
.favorite {
    background-color: chartreuse;
    font-style: italic;
    line-height: 3;
    text-align: center;
}

body {
    font-size: 16px;
}

p {
    font-size: 48px;
}

#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}